<footer class="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="social" role="navigation" aria-labelledby="social-heading">
        <h3 id="social-heading" class="sr-only">Follow us on social media</h3>
        <a aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a aria-label="Mastodon"><i class="fa-brands fa-mastodon"></i></a>
        <a aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <hr class="footer-break">
    <ul class="footer-links" role="navigation" aria-labelledby="footer-links-heading">

    <p class="copyright">© 2024 DecentraFlight</p>
</footer>
